.toggle-button {
  background-color: rgb(230,230,230);
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 15px;
  margin-right: 10px;
}

.is-toggled {
  background-color: black;
  color: white;
}